.card_login{position: absolute;
width: 422px;
height: 339px;
left: 490px;
top: 110px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}
.text_aut{

    position: absolute;
    width: 422px;
    height: 339px;
    left: 54px;
    top: 270px;

/* Hero H1 */


}
.login_pos{

    position: absolute;
width: 237px;
height: 40px;
left: 7px;
top: 48px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 80px;
/* or 143% */

letter-spacing: -0.015em;

color: #000000;

}