<h3 class=" font-italic ">
  <%="Характеристики"%>
</h3>


<table class="table">
 
  <tbody>
  <%@product.characteristics.each  do |characteristic|%>
    <tr>
     
      <td><h5><%=characteristic.name%></h5></td>
      <td><h5><%=characteristic.about%></h5></td>
        <% if user_signed_in? %>
            &emsp;
              <% if current_user.roll=="admin" %>
      <td><%=link_to "Удалить характеристику",[characteristic.product, characteristic], method: :delete, data:{ confirm: 'Хотите удалить ?' },class:"text-dark" %> <br></td>
   <%end%>
      <%end%>
    </tr>
   
   <% end %>
  </tbody>
</table>